<html>
    <head>
        <title>My blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Kurt's Blog</a></h1>
            <p>posts</p>
            <p>{{ posts }}</p>
            {% debug %}
        </div>


        <!-- {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %} -->
    </body>
</html>