html, body {
    background-color: #143250;
}

/* FLEX */
.outer-parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-child {
  max-width: 50%;
  /* height: 60%; */
}

h1, a {
  /* color: #46A0FF; */
  color: #eae2b7;
  font-size: 2.5em;
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 700;
}

h2, a, footer {
  color: #eae2b7c5;
  font-size: 1.5em;
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 400;
}

/* ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  margin: 15px;
} */

p {
    color: #FFF;
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* unvisited link */
/* a:link {
    color: #46A0FF;
  }
  
  /* visited link 
  a:visited {
    color: #34B2B2;
  } */
  
  mouse over link 
  a:hover {
    color: #B652A3;
  }
  
  /* selected link 
  a:active {
    color: #5E9FF8;
  } */



/* CENTERING */



/* html,
body {
  height: 100%;
}

.purple-square-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purple-square {
  background-color: #B10DC9;
  width: 300px;
  height: 300px;
} */

